*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --connection-failed-color: #ea4d67;
  --connection-success-color: #2ecc71;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e3f2fd;
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  top: -25%;
  left: 50%;
  translate: -50% 0;

  display: flex;

  background: #fff;
  width: 500px;
  border-radius: 5px;
  padding: 13px 17px 20px;
  box-shadow: 0 10px 25px rgba(52, 87, 220, 0.1);

  transition: 0.3s all ease;
}

.popup.success {
  border-top: 3px solid var(--connection-success-color);
}

.popup.failed {
  border-top: 3px solid var(--connection-failed-color);
}

.popup.show {
  top: 10px;
}

.popup .icon-col {
  flex: 1;
}

i {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup.success i {
  background-color: var(--connection-success-color);
}

.popup.failed i {
  background-color: var(--connection-failed-color);
}

.popup .details {
  flex: 5;
}

.popup .title {
  font-size: 18px;
}

.popup .desc {
  color: #474747;
  font-size: 16px;
  margin-bottom: 5px;
}

.popup .btn-reconnect {
  border: none;
  outline: none;
  padding: 9px 15px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  background-color: #b1b1b1fc;
}
